@import "../style/variables.scss";

.header-content {
  background-color: var(--background-blue-color);
  width: 1280px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.btn.btn-primary {
  padding: 0;
  width: 48px;
  height: 48px;
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;

  i {
    color: var(--text-white-color);
  }
}

button.btn.btn-secondary {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;
  i {
    color: var(--text-white-color);
  }
}

.show > .btn-secondary.dropdown-toggle {
  color: unset;
  background-color: unset;
  border: unset;
}

.btn-secondary:focus {
  box-shadow: unset;
}

i.material-icons {
  color: var(--text-blue-color);
  margin: 0;
}

.blue--logo {
  margin-left: 1.4rem;
}

.modal {
  position: absolute;
  top: -90px;
  right: 520px;
  bottom: 55px;
  left: -520px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal--link {
  display: flex;

  p {
    color: var(--text-blue-color);
    margin-left: 0.625rem;
    font-size: 14px;
  }
}

.modal-open .modal {
  display: flex !important;
}

.help-links {
  display: flex;
  align-items: center;

  .line {
    background-color: #000000;
    opacity: 0.25;
    width: 1px;
    height: 28px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.help--links-color {
  margin-right: 10px !important;
  color: var(--text-black-color) !important;
  font-size: 24px;
}

.help--links-item {
  display: flex;
  align-items: center;
}

.help--links-item p {
  margin: 0px;
  color: var(--text-white-color);
  font-family: Arial;
  font-size: 13px;
  line-height: 16px;
}

// icon right

.dropdown--button {
  background-color: unset;
  display: flex;
}

.user--name-right {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: -0.46px;
  text-align: right;

  p {
    margin: 0px;
  }
}

div.menu-right {
  display: flex;
  align-items: center;
  .icons--styles {
    color: white;
    font-size: 36px;
  }
}

.btn-secondary {
  border-color: var(--background-blue-color);
}
