@import "../style/variables.scss";

.header-content {
  background-color: var(--background-blue-color);
  width: 1280px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.btn.btn-primary {
  padding: 0;
  width: 48px;
  height: 48px;
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;

  i {
    color: var(--text-white-color);
  }
}

button.btn.btn-secondary {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;
  i {
    color: var(--text-white-color);
  }
}

.btn-secondary:focus {
  box-shadow: unset;
}

i.material-icons {
  color: var(--text-blue-color);
  margin: 0;
}

.blue--logo {
  margin-left: 1.4rem;
}

.modal {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -498px;
  right: 498px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal--link {
  display: flex;
  align-items: center;

  p {
    color: var(--text-blue-color);
    font-size: 14px;
  }
}

.modal-open .modal {
  display: flex !important;
}

.help-links {
  display: flex;
  align-items: center;

  .line {
    background-color: #000000;
    opacity: 0.25;
    width: 1px;
    height: 28px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.help--links-color {
  margin-right: 10px !important;
  color: var(--text-black-color) !important;
  font-size: 24px;
}

.help--links-item {
  display: flex;
  align-items: center;
}

.help--links-item p {
  margin: 0px;
  color: var(--text-white-color);
  font-family: Arial;
  font-size: 13px;
  line-height: 16px;
}

// icon right

.dropdown--button {
  background-color: unset;
  display: flex;
}

.user--name-right {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: -0.46px;
  text-align: right;

  p {
    margin: 0px;
  }
}

div.menu-right {
  display: flex;
  align-items: center;
  .icons--styles {
    color: white;
    font-size: 32px;
  }
}

.btn-secondary {
  border-color: var(--background-blue-color);
}

.nav--content {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 54px;

  background-color: var(--background-white-color);
  box-shadow: inset 0 -1px 0 0 #cad4dc;

  span {
    font-size: 24px;
  }

  p:first-child {
    margin-left: 20px;
  }

  p {
    margin: 0px;
    color: var(--text-nav-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}

.btn.btn-secondary.dropdown-toggle.dropdown--button:hover {
  background-color: var(--background-blue-color);
  box-shadow: none;
}

.btn.btn-secondary.dropdown-toggle.dropdown--button {
  background-color: var(--background-blue-color);
  border-color: var(--background-blue-color);
}

.account--circle-back {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-blue-color);
  border-radius: 50%;

  margin-left: 9px;
  margin-right: -6px;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.home--circle-back {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-white-color);
  border-radius: 50%;

  width: 26px;
  height: 26px;

  .icons--styles.home--icon {
    color: var(--text-blue-color);
    font-size: 24px;
  }
}

.modal-content {
  width: 280px;
  height: 800px;
}

div.modal-header {
  padding: 0px;

  img.blue--logo {
    margin: 33px 0px 33px 30px;
  }
}

div.modal-body {
  padding: 0px;

  ul.list-group.list-group-flush {
    display: flex;
    align-items: center;
  }

  li.list-group-item {
    display: flex;
    align-items: center;

    width: 230px;
    height: 50px;

    padding: 0px;
    margin: 0px;

    p {
      line-height: 17px;
      margin: 0px 0px 0px 10px;
    }
  }
}

a.dropdown-item:last-child {
  color: red;
}

a:hover {
  text-decoration: none;

  i {
    color: var(--hover-color);
  }
  p {
    color: var(--hover-color);
  }

  .user--right-text {
    color: var(--text-white-color);
  }
}
