@import "../style/variables.scss";

.display--content {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-gray-color);
  width: 1280px;
  height: 800px;
}

.vehicle--map--content {
  display: flex;
}
