@import "../style/variables.scss";

.vehicle--container {
  margin: 0px 5px 16px 15px;
  background-color: var(--background-white-color);
  border: 1px solid var(--color-border);
  border-radius: 2px;
  width: 620px;
  height: 320px;
}

.container--group.title--vehicle {
  margin-left: 15px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  box-shadow: inset 0 -1px 0 0 var(--color-border);

  .directions-car {
    margin-right: 5px;
    font-size: 24px;
    color: var(--text-blue-color);
  }
}

.container--group {
  height: 65px;
  display: flex;
  align-items: center;
  margin: 0px;

  img {
    width: 40px;
    height: 40px;
    margin: 13px 10px 12px 14px;
  }

  p {
    margin: 0px;
  }
}

.cars--unit {
  box-shadow: inset 0 -1px 0 0 var(--color-border);
}

.bg--gray {
  background-color: var(--background-gray-color);
}
