@media screen and (max-width: 320px) {
  .display--content {
    width: 100vw !important;
    height: 100vh !important;
  }

  header.header-content {
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  div.modal--mail {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  div.help-links {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  div.nav--content {
    width: 100vw;
  }

  div.automakers {
    width: 100vw;
    margin: 15px auto 15px auto;
  }

  div.vehicle--container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0px auto 15px auto;
    font-size: 10px;
  }

  div.map--container {
    width: 100vw;
    margin: 0px 0px 15px 0px;
  }

  .vehicle--map--content {
    flex-direction: column;
  }

  .container--group.cars--unit img {
    margin: 5px;
    width: 25px;
    height: 25px;
  }

  div.line {
    display: none;
  }

  .modal {
    top: -70px !important;
    bottom: 70px !important;
    left: 10px !important;
    right: -10px !important;
  }

  .modal-content {
    width: 280px !important;
    height: 80vh !important;
  }
}
