:root {
  --background-blue-color: #29b6ff;
  --background-white-color: #ffffff;
  --background-gray-color: #F1F4F6;

  --text-white-color: #ffffff;
  --text-blue-color: #29b6ff;
  --text-black-color: #3e4b5b;
  --text-nav-color: #596270;

  --color-border: rgba(117, 126, 143, 0.25);
}
